body
{
    background-color:rgb(224, 165, 88);
}
div#Layer1
{
    position: absolute;
    top:1px;
    left:1px;
    width: 250px;
    height: 120px;
    background-color:rgb(15, 155, 139);
    border: 1px solid;
    padding: 5px;
}
div#Layer2
{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 250px;
    height: 120px;
    background-color:rgb(10, 138, 6);
    border: 1px solid;
    padding: 5px;
}
div#Layer3
{
    position: absolute;
    top: 40px;
    left: 40px;
    width: 300px;
    height: 160px;
    background-color:rgb(204, 55, 32);
    border: 1px solid;
    padding: 5px;
}
div#Layer4
{
    position: absolute;
    top: 60px;
    left: 60px;
    width: 300px;
    height: 160px;
    background-color:rgb(108, 223, 108);
    border: 1px solid;
    padding: 5px;
}